#copy to .env

#used for constructing absolute links in emails, etc.
DEVISE_DEFAULT_LINK_HOST = "yourhost.com"

#uncomment to restrict which domains can be used to sign up.
VALID_EMAIL_DOMAIN = "peterkappus.com"

# Google analytics tracking ID
GA_TRACKING_ID = "UA-XXXXXX-XX"

#A URL for providing feedback
FEEDBACK_URL = "http://www.surveyllama.com..."
